{% load user_filters %}

<div class="form-group row my-3 p-3">
      <label for="{{ field.text.id_for_label }}">
        {{ field.label }}
        {% if field.field.required %}
          <span class="reqired text-danger">*</span>
        {% endif %}
        <div class="col-md-9">
                    {{ field|addclass:"form-control" }}
        </div>
        {% if field.help_text %}
          <small id="{{ field.text.id_for_label }}-help" class="form-text text-muted">
            {{ field.help_text|safe }}
          </small>
        {% endif %}
        <div class="form-error">{{ field.errors }}</div>
      </label>
</div>
