{% extends "base.html" %}
{% block title %}Пароль изменён{% endblock %}
{% block content %}
<!--      <div class="container py-5"> -->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-md-8 p-5">-->
<!--            <div class="card">-->
<!--              <div class="card-header">-->
<!--                Пароль изменён-->
<!--              </div>-->
<!--              <div class="card-body"> -->
<!--                <p>Пароль изменён успешно</p>-->
<!--              </div> &lt;!&ndash; card body &ndash;&gt;-->
<!--            </div> &lt;!&ndash; card &ndash;&gt;-->
<!--          </div> &lt;!&ndash; col &ndash;&gt;-->
<!--        </div> &lt;!&ndash; row &ndash;&gt;-->
<!--      </div>-->
  {% with card_header='Пароль изменён' card_body='Пароль изменён успешно' %}
    {% include 'users/includes/card.html' %}
  {% endwith %}
{% endblock %}
